@import url('https://fonts.googleapis.com/css?family=Lora|Mali&display=swap');

body {
  background: lightgray;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px 10px 20px;
  background: linear-gradient(to bottom, steelblue 50%, transparent 100%);
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: 'Lora', serif;
}

.header h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70vw;
}

.icon-pin {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: white;
  margin: -0.5em 0.3em 0 0;
}

.icon-pin::after {
  display: block;
  position: absolute;
  content: '';
  border: 0.5em solid transparent;
  border-top: 1em solid white;
  margin-top: 0.65em;
}

.icon-pin::before {
  display: block;
  position: absolute;
  content: '';
  width: 0.5em;
  height: 0.5em;
  background: black;
  border-radius: 50%;
  margin: 0.25em;
  z-index: 2;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: lightgray;
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  flex-wrap: wrap;
}

main h2,
main h3,
main h4 {
  margin: 10px 0;
}

.weather-today {
  padding: 10px 25px;
  border-radius: 15px;
  background: rgba(0, 70, 120, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px 10px rgba(0, 70, 120, 0.4);
  font-family: 'Mali', cursive;
  margin: 10px 20px;
  transition: 0.5s ease-in-out;
}

.todaysHighlight {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px 0;
}

.data {
  text-shadow: 0 1px 7px #433;
  font-weight: bold;
  color: #eaecfa;
}

.dataBlock h3 {
  display: inline;
}

.misc h3 {
  font-size: 1rem;
}

.dataBlock {
  margin: 5px 0;
}

.misc,
.maxMin {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dataBlock > span {
  margin: 0 5px;
}

.weather-today h3 {
  white-space: nowrap;
}

.temp-toggle {
  opacity: 0;
  position: absolute;
}

.toggle {
  padding-left: 20px;
}

.toggle label {
  display: flex;
}

.toggle label:hover,
.toggle .temp-toggle:focus ~ label {
  box-shadow: 0px 0px 10px 1px rgba(0, 120, 0, 0.5);
}

.toggle label::before,
.toggle label::after {
  display: block;
  content: '\00B0 C';
  position: relative;
  background: lightgray;
  color: black;
  transition: 0.3s ease-out;
  padding: 0.2em 0.3em 0.1em 0.3em;
  font-size: 1.5em;
  border-radius: 0.3em 0 0 0.3em;
  cursor: pointer;
}

.toggle label::after {
  content: '\00B0 F';
  border-radius: 0 0.3em 0.3em 0;
  background: limegreen;
  color: white;
}

.unit::before {
  content: '\00B0';
}

.unit {
  margin-left: 0.2em;
}

.toggle .temp-toggle:checked ~ label::before {
  background: limegreen;
  color: white;
}

.toggle .temp-toggle:checked ~ label::after {
  background: lightgray;
  color: black;
}

footer {
  position: fixed;
  top: auto;
  bottom: 0;
  background: linear-gradient(to top, steelblue, transparent);
  width: 100%;
  text-align: center;
  height: 70px;
  z-index: 2;
  font-weight: bold;
}

footer > *:first-child {
  margin-top: 30px;
}

footer a,
footer a:active {
  color: white;
}

.weather-coming {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 30px 10px;
  border-radius: 15px;
  background: rgba(0, 120, 70, 0.4);
  text-align: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px 10px rgba(0, 120, 70, 0.4);
  font-family: 'Mali', cursive;
  margin: 0 10px;
  transition: 0.5s ease-in-out;
}

.days {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weekday {
  padding: 0 5px 10px;
  border-radius: 5px;
  margin: 0 3px;
  background: rgba(0, 70, 0, 0.3);
}

.weekday .data {
  line-height: 1.4rem;
  white-space: nowrap;
}

.weekday .weather {
  margin-top: 10px;
}

.show-coming {
  display: none;
  transition: 0.1s ease-out;
}

.offline {
  filter: grayscale(70%);
  height: 100vh;
}

.offline .header {
  padding: 20px 20px 10px;
}

.offline .header::before {
  content: 'Offline Mode';
  font-size: 1.2em;
  text-align: center;
  display: block;
  position: absolute;
  background: #f88;
  color: maroon;
  font-weight: 700;
  width: 100vw;
  line-height: 30px;
  top: 0;
}

.arrow {
  font-size: 1.7em;
}

.arrow::before {
  position: relative;
  display: inline;
}

.arrow.up::before {
  content: '↑';
  color: limegreen;
}

.arrow.down::before {
  content: '↓';
  color: orangered;
}

.aqiData {
  margin-top: 15px;
  padding-top: 8px;
  border-top: 1.5px solid rgba(100, 110, 90, 0.7);
  width: 100%;
}

.aqiData h3 {
  font-size: 1rem;
}

.aqiData div {
  text-align: center;
  margin-bottom: 5px;
}

.aqi {
  padding: 0 6px 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: green;
  box-shadow: 0 0 5px 0 rgba(250, 250, 250, 0.3);
  border-radius: 5px/15px;
  box-sizing: border-box;
  margin: 5px;
}

.aqi.red {
  background: red;
}

.aqi.indigo {
  background: indigo;
}

.aqi.maroon {
  background: maroon;
}

.aqi.yellow {
  background: gold;
  color: black;
  text-shadow: none;
}

.aqi.orange {
  background: orange;
  color: black;
  text-shadow: none;
}

.updateBanner {
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: hotpink;
  top: auto;
  bottom: 0;
  z-index: 2;
}

.updateBanner .refresh-btn {
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 1.1em;
  color: white;
  background-color: teal;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  box-sizing: border-box;
}

.updateBanner .refresh-btn:hover,
.updateBanner .refresh-btn:focus {
  background-color: darkgreen;
}

.updating {
  color: indigo;
  font-weight: bold;
  margin-top: 11vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.updating::before {
  width: 15px;
  height: 15px;
  background-color: transparent;
  display: block;
  position: relative;
  content: '';
  border: 3px dotted indigo;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 5px;
  animation: spin 2s ease-in-out infinite;
}

.small {
  font-size: 0.8em;
}

.updateDate {
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(350deg);
  }
  50% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(370deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@media (max-width: 740px) {
  main {
    padding-top: 5em;
  }

  .header {
    font-size: 0.8em;
  }

  .weather-coming {
    filter: blur(8px);
  }

  .show-coming {
    display: block;
    position: relative;
    width: 200px;
    padding: 5px 0;
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .show-coming::before {
    position: relative;
    top: -20px;
    right: 5px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 15px solid gray;
  }

  .show-coming:hover {
    background: lightgray;
  }
}
